.NavigationItems {
    margin: 0;
    padding: 0; 
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

@media (max-width: 500px){
    .NavigationItems {
        margin: 10px 10px 10px 10px;
        display: inline;
        max-width: 50%;
    }  
}